<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-user-group"></i>  Tüm Talepler</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Tüm Talepler</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
    <div class="page-content">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title"><%= title %></h4>
                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>T.C No</th>
                                    <th>Telefon No</th>
                                    <th>Yardım Türü</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% find_help.forEach(function(help){ %>                           
                                    <tr>    
                                            <td><%= help.fullName %></td>
                                            <td><%= help.tc %></td>
                                            <td><%= help.telephone %></td>
                                            <td><%= help.type===1 ? 'Gıda Yardımı' : 'Eğitim Yardımı' %></td>
                                            <td><%= moment(help.helpCreated).format("DD MM YYYY"); %></td>
                                            <td>
                                                <a href="../deleteHelp/<%= help._id %>" class="btn btn-sm btn-warning"><i class="fas fa-trash"></i></a>
                                                <a href="../validationHelp/<%= help._id %>" class="btn btn-sm btn-danger"><i class="fas fa-check"></i></a>
                                                <a href="../profilHelp/<%= help._id %>" class="btn btn-sm btn-primary"><i class="fas fa-camera"></i></a>
                                            </td>
                                        </tr> 
                                  <% }); %> 
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div><!-- container -->
    </div>
<%- include('./src/footer'); %>

